extends ../layout

block content
  h1=title
  p
    a.button(href="./add") Create New Book
  include ../filter
  include ../pagination
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year Released
      tbody
        if books && books.length > 0
          each book in books
            tr
              td
                a(href=`../books/${book.dataValues.id}`) #{book.dataValues.title}
              td=book.dataValues.author
              td=book.dataValues.genre
              td=book.dataValues.first_published
        else
          tr
            td No Matches Found
              