extends layout

block content
  p Welcome to #{title}
  ul 
    li Books
      ul
        each href, name in {"New Book": "#", "List All": "#", "List Overdue": "#", "List Checked Out": "#"}
          li
            a(href=href) #{name} 
    li Patrons
      ul
        each href, name in {"New Patron": "#", "List All": "#"}
          li
            a(href=href) #{name} 
    li Loans
      ul
        each href, name in {"New Loan": "#", "List All": "#", "List Overdue": "#", "List Checked Out": "#"}
          li
            a(href=href) #{name} 