extends layout

block content
  p Welcome to #{title}
  ul 
    li Books
      ul
        each href, name in {"New Book": "books/add", "List All": "books/?filter=all", "List Overdue": "books/?filter=overdue", "List Checked Out": "books/?filter=checked_out"}
          li
            a(href=href) #{name} 
    li Patrons
      ul
        each href, name in {"New Patron": "patrons/add", "List All": "patrons/"}
          li
            a(href=href) #{name} 
    li Loans
      ul
        each href, name in {"New Loan": "loans/add", "List All": "loans/?filter=all", "List Overdue": "loans/?filter=overdue", "List Checked Out": "loans/?filter=checked_out"}
          li
            a(href=href) #{name} 