extends layout

block content
  p Welcome to #{title}
  ul 
    li Books
      ul
        each href, name in {"New Book": "books/add", "List All": "books/", "List Overdue": "#", "List Checked Out": "#"}
          li
            a(href=href) #{name} 
    li Patrons
      ul
        each href, name in {"New Patron": "patrons/add", "List All": "patrons/"}
          li
            a(href=href) #{name} 
    li Loans
      ul
        each href, name in {"New Loan": "#", "List All": "loans/", "List Overdue": "#", "List Checked Out": "#"}
          li
            a(href=href) #{name} 