table
  thead
    tr
      th Book
      th Patron
      th Loaned On
      th Return By
      th Returned On
      th Action
  tbody
    if loans && loans.length > 0
      each loan in loans
        tr
          td
            a(href=`../books/${loan.book_id}`)=loan.dataValues.book_title
          td
            a(href=`../patrons/${loan.patron_id}`)=loan.dataValues.patron_name
          td=loan.loaned_on
          td=loan.return_by
          td=loan.returned_on
          td
            if !loan.returned_on 
              a.button(href=`../loans/${loan.id}`) Return Book
    else
      tr
        td No loans found