extends ../layout

block content
  h1 Patron: Return Book
  p
    strong Book Title: 
    span=loan.dataValues.book_title
  p
    strong Loaned By: 
    span=loan.dataValues.patron_name
  p
    strong Loaned On: 
    span=loan.loaned_on
  p
    strong Return By: 
    span=loan.return_by
  form(action="../loans/" + loan.id + '?_method=PUT', method="post")
    p
      label(for="returned_on") Returned On:
      input#returned_on(type="text" name="returned_on" value=loan.returned_on)
    p
      input(type="submit", value="Return Book")
    input(type="hidden", name="id" value=loan.id)